* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.pdf binary
*.zip binary
*.gz binary
*.h5 binary
*.h5ad binary
*.rds binary
*.Rds binary
*.qs binary
*.parquet binary
